@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

.bgone {
  background-image: url("/public/assets/shared/desktop/bg-pattern-small-circle.svg");
}
.bgtwo {
  background-image: url("/public/assets/shared/desktop/bg-pattern-two-circles.svg");
}
.bgthre {
  background-image: url("/public/assets/shared/desktop/bg-pattern-three-circles.svg");
}